@import url("./custom.css");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  padding: 12px;
  margin: 0;

  /* font-family: ; */
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @font-face {
    font-family: shabnam;
    src: url("/font/...");
    font-display: block;
} */
